@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3ca2f5;
  --secondary: #9060ff;
  --bg-color: #fdfdfd;
  --text-color: #333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
