@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3ca2f5;
  --secondary: #9060ff;
  --bg-color: #fdfdfd;
  --text-color: #333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.main-content h2 {
  padding-top: 1rem;
  @apply text-4xl font-bold;
}

.main-content p {
  @apply text-lg;
  &:not(:first-child) {
    padding: 0.5rem 0;
  }
}
